name: Tests

on:
  workflow_dispatch:
  push:
    branches: [ master ]
    paths-ignore:
      - '**.md'
      - '.wiki/**'
      - '.editorconfig'
      - '.gitattributes'
      - '.gitignore'
      - 'LICENSE'
  pull_request:
    branches: [ master ]
    paths-ignore:
      - '**.md'
      - '.wiki/**'
      - '.editorconfig'
      - '.gitattributes'
      - '.gitignore'
      - 'LICENSE'

jobs:
  test:
    name: Test on Java ${{ matrix.java }}
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        java: [21]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@v4
        with:
          java-version: ${{ matrix.java }}
          distribution: 'temurin'
          cache: 'maven'

      - name: Build and test
        run: mvn clean install -B

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          slug: OkaeriPoland/okaeri-configs
          files: core-test/target/site/jacoco-aggregate/jacoco.xml
          fail_ci_if_error: false

      - name: Upload test reports on failure
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: test-reports-java-${{ matrix.java }}
          path: |
            **/target/surefire-reports/
            **/target/failsafe-reports/
          retention-days: 7
